.driver_dashboard {
  min-height: 100vh;
  background-image: url(https://i.pinimg.com/originals/eb/80/2c/eb802c071fde1f7b81bf38927893f3f1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed !important;
}

.driver_notification {
  display: flex;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 4px #9e9e9e;
  padding: 10px;
  /* margin-top: 50px; */
  margin-bottom: 50px !important;
  width: 40%;
  height: fit-content;
  background-color: transparent;
  color: aliceblue;
}
.driver_notification i {
  padding-top: 5px;
}
.driver_notification h6 {
  padding-top: 2px;
}
.d_div {
  padding-top: 120px;
  padding: 40px;
  height: auto;
}
.d_btn {
  height: fit-content;
  background-color: greenyellow;
  border-radius: 5px;
  border-color: transparent;
}

/* --- active trips ---  */

.active_trip_body {
  background-image: url(https://wallpapercave.com/wp/wp2665743.jpg);
  min-height: 100vh;
  width: 100vw;
}
.trip_card {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  
}
.trip_card_body {
  color: rgb(34, 33, 33);
  background-image: url(../../assets/bgac.webp);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 40% !important;
  min-height: 200px;
}
.trip_card1 {
  background-color: #a0a0a6;
  height: max-content;
  width: 40%;
}
