.logBtn {
  background-color: rgb(136, 132, 17) !important;
  width: 30%;
  font-weight: bold !important;
  margin-bottom: 18px;
  color: aliceblue !important;
}

.logBtn:hover {
  background-color: rgb(17, 60, 66) !important;
}


.link {
  text-decoration: none !important;
  /* color: rgb(136, 132, 17) !important; */
}

.link:hover {
  color: rgb(8, 72, 39) !important;
}
.g{
  margin-right: 5px;
}


@media (min-width: 1025px) {
  .flex {

    background-image: url(https://i.pinimg.com/originals/eb/80/2c/eb802c071fde1f7b81bf38927893f3f1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  }
  .flex_otp {

    background-image: url(../../assets/bg7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
  }

  .flex2 {
    padding-top: 300px;
    padding-bottom: 380px;
    padding-left: 120px;
    animation: color-change 1s infinite;

  }

  @keyframes color-change {
    10% {
      color: rgb(136, 134, 48);
    }

    40% {
      color: rgb(13, 116, 65);
    }

    70% {
      color: aliceblue
    }

    100% {
      color: rgb(225, 171, 112);
    }
  }

  .login {
    padding-left: 140px;
    padding-top: 150px;
    padding-right: 50px;
    background-color: rgba(242, 242, 240, 0.644);

  }

  form {
    width: 450px;
    padding: 30px;
    display: block !important;
  }

  .input {
    margin: 5px !important;
    border-color: transparent;
    border-radius: 3px;
  }


  .text-center {
    color: rgb(136, 132, 17);
    padding-bottom: 20px;
  }

  .logo_bg {
    display: flex !important;
    background-image: url(../../assets/bgac.webp);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 30%;
  }
  
  #radio{
    text-align: left;
    margin-left: 70px;
    margin-bottom: 8px;
    color: rgb(102, 102, 102) ;
  }
  #radio p{
    margin-bottom: 2px!important;
  }
  .err{
    color: rgb(249, 91, 59);
    text-align: left;
    margin-left: 70px;
    font-size: 13px;
  }
  .role{
    margin-left: 45px;
    border-radius: 3px;
    border-color: transparent;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {}

@media (min-width: 481px) and (max-width: 767px) {}

@media (min-width: 320px) and (max-width: 480px) {}